@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /*16px x 0.65 = 10px = 1 rem*/
}

#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Layout */

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5em;
  height: 100%;
}

header {
  grid-area: header;
  background-color: rgb(0, 0, 0);
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: rgb(148, 140, 171);
  color: #fff;
}

/* common */

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  color: #fff;
}

h2 {
  font-size: 1.6em;
  padding: 1rem 0;
  color: #fff;
}

a {
  text-decoration: none;
}

a:hover {
  color: #64a56f;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin-top: 1rem;
}

input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  background-color: #64a56f !important;
  color: #fff !important;
}

button.primary {
  background-color: #cfb94b;
}
button.block {
  width: 100%;
}
/* Header */

header a {
  color: #fff;
  padding: 1rem;
  position: relative;
}

.badge{
  background-color: #64a56f;
  color:#000;
  border-radius: 50%;
  padding:0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
  position: absolute;
  top:0;
  right:-6px
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 1 25 rem;
}
.col-2 {
  flex: 2 1 50 rem;
}

.min-30{
  min-width:30rem
}

/* Image */

img {
  border-bottom-left-radius: 0.5rem;
  /* border-radius: 0.5em; */
  border-bottom-right-radius: 0.5rem;
}
img.small{
  max-width:20rem;
  width:100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}

/* Card */

.card {
  border-radius: 0.5rem;
  background-color: #323258;
  margin: 1rem;
}

.card-body {
  padding: 1rem;
  color: #fff;
}

.card-body > * {
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2rem;
}

.rating span {
  color: #cfb94b;
}

.rating span:last-child {
  color: #fff;
}

/* alert */
.loading{
  display:block !important;
}
.success {
  color: #64a56f;
}

.fail {
  color: #da5334;
}

.alert {
  padding: 1rem;
  border-radius: 0.5rem;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-error {
  color: #a02020;
  background-color: #ffe0e0;
}

/* Form Section */

.form{
  max-width: 60rem;
  margin: 0 auto;
}
.form>div{
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label{
  margin:1rem 0;
}

/* Dropdown Section */

.dropdown{
  display: inline-block;
  position: relative;
}

.dropdown-content{
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding:1rem;
  background-color: rgb(0, 0, 0);
  z-index: 1;
  margin: 0.4rem 0 0 0;
}

.dropdown:hover .dropdown-content{
  display: block;
}

/* Checkout Steps Section */

.checkout-steps > div{
  border-top: 0.3rem solid #c0c0c0;
  color: #c0c0c0;
  flex: 1;
  padding:1rem;
  font-weight: bold;
}
.checkout-steps > div.active{
  color: #64a56f;
  border-top: 0.3rem solid #64a56f;
}